/* stylesmain.css */

body {
    font-family: Arial, sans-serif;
}

#userInfo {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 20px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
}

#Tab1 {
    padding: 20px;
}

#offerForm {
    max-width: 400px;
    margin: 0 auto;
}

#offerForm label {
    display: block;
    margin-bottom: 8px;
}

#offerForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

#offerForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.offer-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    float: left;
}





/* Ваш CSS-код в stylesmain.css */
.notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
  }
  
  .hide {
    display: none;
  }
  