/* stylesmain.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#userInfo {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 20px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
}







.notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.hide {
    display: none;
}




#Tab1 {
    padding: 20px;

    /* Загальні стилі */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .tabcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    #offerForm {
        width: 100%;
        max-width: 600px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    input[type="text"],
    select {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }

}

#Tab2 {
    #offerList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #categoryFilter {
        margin-bottom: 10px;
    }

    ul#offers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        list-style: none;
    }

    .offer-item {
        width: 30%; /* ширина елемента */
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
    }

    .offer-item p {
        margin: 5px 0;
    }

    .zoomable-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .delete-button {
        background-color: red;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    .delete-button:hover {
        background-color: darkred;
    }
}

#Tab3 {
    padding: 20px;

    /* Загальні стилі */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .tabcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    #roomForm {
        width: 100%;
        max-width: 600px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"] {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    #roomFields {
        margin-bottom: 10px;
    }

    #roomFields>div {
        margin-bottom: 10px;
    }

    button[type="button"],
    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="button"]:hover,
    button[type="submit"]:hover {
        background-color: #45a049;
    }

}

#Tab4 {
    padding: 20px;

    .rooms-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .apartment-item {
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 20px;
        width: 300px;
    }

    .apartment-info {
        margin-bottom: 20px;
    }

    .apartment-info p {
        margin: 5px 0;
    }

    .zoomable-image {
        width: 100%;
        border-radius: 8px;
    }

    .delete-button {
        background-color: #ff3333;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .delete-button:hover {
        background-color: #cc0000;
    }

}

#Tab5 {
    display: flex;
    padding: 20px;
    justify-content: space-between;

    .tabcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    #devicesContainer,
    #roomsWithDevices {
        width: 44%;
        /* Задаємо ширину 40% */
        padding: 10px;
        /* Додаємо відступи */
    }

    #devicesContainer {
        margin-right: 20px;
        /* Задаємо відступ справа між контейнерами */
    }

    #roomsWithDevices {
        margin-left: 20px;
        /* Задаємо відступ зліва між контейнерами */
    }



    /* Стилі для пристроїв */
    .device-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
    }

    .device-image img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 20px;
    }

    .device-info p {
        margin: 5px 0;
    }

    /* Стилі для квартир та кімнат */
    .apartment-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        /* кордон для кожної квартири */
        margin-bottom: 10px;
        /* відступ між квартирами */
    }

    .apartment-info {
        text-align: center;
        margin-bottom: 10px;
    }

    .apartment-info img {
        width: 100%;
        /* розтягнути зображення на всю ширину батьківського блоку */
        height: auto;
        /* автоматична висота, щоб уникнути деформацій */
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .room-item {
        margin-bottom: 10px;
        text-align: center;
        border-top: 1px solid #ccc;
        /* кордон між кімнатами */
        padding-top: 10px;
        /* відступ від верхнього кордону */
    }

    /* Стилі для кнопки підтвердження відповідності */
    #confirmButton5 {
        position: fixed;
        bottom: 20px;
        /* Відстань від нижнього краю екрану */
        left: 50%;
        /* Розміщення по горизонталі в центрі */
        transform: translateX(-50%);
        /* Центрування по горизонталі */
        background-color: #007bff;
        /* Колір фону */
        color: #fff;
        /* Колір тексту */
        padding: 10px 20px;
        /* Відступи */
        border: none;
        /* Без обведення */
        border-radius: 4px;
        /* Радіус кутів */
        cursor: pointer;
        /* Зміна вигляду курсору при наведенні */
    }

    #confirmButton5:hover {
        background-color: #0056b3;
        /* Колір фону при наведенні */
    }


    .selected {
        background-color: #f0f0f0;
        /* Задній фон */
        border: 2px solid #007bff;
        /* Обведення */
        border-radius: 4px;
        /* Радіус кутів */
    }

}

#Tab6 {
    #acceptedOffersInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
    }

    .offer-item {
        width: calc(50% - 20px); /* ширина елемента (мінус відступи) */
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
        text-align: center; /* центрування тексту */
    }

    .offer-item > p {
            padding-bottom: 10px; /* збільшено відступи */
            margin-bottom: 10px; /* збільшено відступи */
            font-weight: bold;
    }

    .device-item {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #ccc;
    }

    .device-image img {
        width: 150px; /* змінено на більший розмір */
        height: auto; /* змінено на більший розмір */
        margin-right: 10px;
    }

    .device-info p {
        margin: 5px 0;
        text-align:left;
    }

    .delete-button {
        background-color: red;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin-top: 10px;
    }

    .delete-button:hover {
        background-color: darkred;
    }

    .offer-item > p + .device-item {
        border-top: none;
    }

    button {
        background-color: red;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin-top: 10px;
    }

    button:hover {
        background-color: darkred;
    }
}