body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 320px;
}

.form-container {
    padding: 20px;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 8px 8px 0 0;
}

.tab button {
    /* background-color: inherit; */
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    width: 50%;
    transition: 0.3s;
    font-size: 16px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#role {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

#role:hover {
    background-color: #ddd;
}

#role:focus {
    outline: none;
    border-color: #45a049;
}

/* Style for the options within the select dropdown */
#role option {
    background-color: #f1f1f1;
    color: #333;
}

/* Style for the selected option */
#role option:checked {
    background-color: #ccc;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    z-index: 9999;
}

.success {
    background-color: #4caf50;
}

.error {
    background-color: #f44336;
}
